header {
    background-color: #008080;
    color: white;
    padding: 15px;
    text-align: center;  
}


nav {
    margin-top: 10px;
    text-align: right;
    
}

nav a {
    color: burlywood;
    background-color:#fff3e0;
    padding: 8px 12px;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
}
nav a {
    background-color: #f5f5dc; 
    color: #5a4e3c;            
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a:hover {
    background-color: #ffe4e1; 
    color: #4b0082;            
    transform: scale(1.05);   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


body {
    background-color: #f3e5f5; 
    color: #333;
    font-family: Arial, sans-serif;
    /* line-height: 1.6; */
}

footer {
    background-color: #4b0082;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.card{
    border-radius: 12px;
    max-width: 250px;
    background-color: aquamarine;
    max-height: 400px;

}
.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.card-content{
    padding: 12px;
    text-align: center;
    

}
.card-content p{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;

}


.card-content h3{
    margin: 8px 0;

   
}
.card-content button{
    background-color: #a9b8b8;
    color:#fff3e0;
    border-radius:8px;
    
}
#products{
    height:100vh;
    display:grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
}
.card-content button:hover{
    background-color: #474b22;
}