header {
    background-color: #008080;
    color: white;
    padding: 15px;
    text-align: center;  
}


nav {
    margin-top: 10px;
    text-align: right;
    
}

nav a {
    color: burlywood;
    background-color:#fff3e0;
    padding: 8px 12px;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
}
nav a {
    background-color: #f5f5dc; 
    color: #5a4e3c;            
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a:hover {
    background-color: #ffe4e1; 
    color: #4b0082;            
    transform: scale(1.05);   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


body {
    background-color: #f3e5f5; 
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

footer {
    background-color: #4b0082;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}